# Gasfeed API:
Your Api Key: c2pmuvu4mv 

Development
Domain: devapi.mygasfeed.com
Api key: rfej9napna (All developers) 

Production
Domain: api.mygasfeed.com
Api key: c2pmuvu4mv 


Development url : http://devapi.mygasfeed.com/
Development API Key : rfej9napna
Production url : http://api.mygasfeed.com/ 

<!DOCTYPE html>
<html>
<head>
 
   <title></title>
   
   <script src="https://code.jquery.com/jquery.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.2/lodash.js"></script>

        <!--jQuery, linked from a CDN-->
   <script src="/static/gasfeed.js"></script>
  <form method="GET" action="http://api.mygasfeed.com//stations/radius/(Latitude)/(Longitude)/(distance)/(fuel type)/(sort by)/c2pmuvu4mv.json?callback=?">
URL=
from FLASK IMPORT REQURE
import request in js

  
