{%extends 'base.html'%}
{% block content %}



<head>
    <title> Log In Page </title>


</head>

  <div id='bg'>
    <img src="/static/road-2.jpg" lat="">
  </div>


<div id='login_wrap'>
  <div id='login_info'>

  </div>
</div>

<div class='container-fluid'>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-xs-12" style="text-align:center">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
<div id="heading"> 
  <h1>Your Perfect Road Trip Starts Here!</h1>
</div> 
  <form action="/log_in" method="POST">

    <div class="form-group">
        <label>
            Email
            <input type="email" name="email" class="form-control">
        </label>
    </div>
   <br>

    <div class="form-group">
      <label>
          Password
          <input type="password" name="password" class="form-control">
      </label>
    </div>
    <br>

    <div class="form-group">
      <input type="submit" value="Login" class="btn">
    </div>

  </form>
      </div>
    </div>
  </div>

{% endblock %}



